Flask==3.0.*
psycopg2-binary==2.9.*
rdflib==7.*
requests==2.*
python-dotenv
gunicorn
flask-sqlalchemy
flask-migrate
isbnlib==3.10.*
setuptools

# Testing
pytest

# Code Quality & Development Tools
black
ruff
isort
mypy
pylint
