{% extends "_includes/base.html" %}
{% block body %}
<table class="table bg-dark text-white">
  <thead>
    <tr>
      <th scope="col">ISBN</th>
      <th scope="col">Title</th>
      <th scope="col">Authors</th>
    </tr>
  </thead>
  <tbody>
    {% for item in books %}
    <tr id="book-{{ item.id }}">
      <td><a href="{{ url_for('web.update') }}#{{ item.isbn }}">{{ item.isbn }}</a></td>
      <td>{{ item.title or '' }}</td>
      <td>{{ item.authors or '' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if count > 10 %}
<nav aria-label="Book list">
  <ul class="pagination justify-content-center">
    <li class="page-item {{ '' if current_page > 0 else 'disabled' }}">
      <a class="page-link" href="?offset={{ offset - 10 }}">Previous</a>
    </li>
    {% for n in range(pages) %}
      {% if current_page == n %}
      <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ n+1 }}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?offset={{ 10*n }}">{{ n+1 }}</a></li>
      {% endif %}
    {% endfor %}
    <li class="page-item {{ '' if current_page < pages - 1 else 'disabled' }}">
      <a class="page-link" href="?offset={{ offset + 10 }}">Next</a>
    </li>
  </ul>
</nav>
{% endif %}

{% endblock %}
